header{
    background-color: #004F44;
}

main{
    background-color: #fff;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0px;
}

h1{
    margin: 0px;
}

.limited {
    max-width: 1160px;
    margin: 0px auto;
}

button {
    border: 0px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}